<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Portal</title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body class="no-overflow">
        <button id="nav-icon__container" onclick="toggle(event)">
            <i class="nav__icon fas fa-chevron-circle-right"></i>
        </button>
        <div class="overlay">
            <div class="home-grid-container">
                <div class="home-grid-container__title hide">
                    <h1>Objects to click</h1>
                </div>
                <div class="home-grid-container__item hide">
                    <a class="option__icon__link" href="/portal/phone"
                        ><i class="option__icon fas fa-phone"></i
                    ></a>
                    <h3 class="option__title">Phone</h3>
                </div>
                <div class="home-grid-container__item hide">
                    <a class="option__icon__link" href="/portal/fan"
                        ><i class="option__icon fas fa-fan"></i
                    ></a>
                    <h3 class="option__title">Fan</h3>
                </div>
                <div class="home-grid-container__item hide">
                    <a class="option__icon__link" href="/portal/window"
                        ><i class="option__icon fab fa-windows"></i
                    ></a>
                    <h3 class="option__title">Window</h3>
                </div>
                <div class="home-grid-container__item hide">
                    <a class="option__icon__link" href="/portal/computer"
                        ><i class="option__icon fas fa-laptop"></i
                    ></a>
                    <h3 class="option__title">Computer</h3>
                </div>
                <div class="home-grid-container__item hide">
                    <a class="option__icon__link" href="/portal/music"
                        ><i class="option__icon fas fa-music"></i
                    ></a>
                    <h3 class="option__title">Music</h3>
                </div>
                <div class="home-grid-container__item hide">
                    <a class="option__icon__link" href="/portal/food"
                        ><i class="option__icon fas fa-utensils"></i
                    ></a>
                    <h3 class="option__title">Food</h3>
                </div>
                <div class="home-grid-container__item hide">
                    <a class="option__icon__link" href="/portal/tea"
                        ><i class="option__icon fas fa-coffee"></i
                    ></a>
                    <h3 class="option__title">Tea</h3>
                </div>
                <div class="home-grid-container__item hide">
                    <a class="option__icon__link" href="/portal/plants"
                        ><i class="option__icon fas fa-seedling"></i
                    ></a>
                    <h3 class="option__title">Plants</h3>
                </div>
                <div class="home-grid-container__item hide">
                    <a class="option__icon__link" href="/portal/animals"
                        ><i class="option__icon fas fa-cat"></i
                    ></a>
                    <h3 class="option__title">Animal</h3>
                </div>
                <div class="home-grid-container__item hide">
                    <a class="option__icon__link" href="/portal/books"
                        ><i class="option__icon fas fa-book-open"></i
                    ></a>
                    <h3 class="option__title">Books</h3>
                </div>
                <div class="home-grid-container__item hide">
                    <a class="option__icon__link" href="/portal/drawing"
                        ><i class="option__icon fas fa-pencil-alt"></i
                    ></a>
                    <h3 class="option__title">Drawing</h3>
                </div>
                <div class="home-grid-container__item hide">
                    <a class="option__icon__link" href="/portal/bed"
                        ><i class="option__icon fas fa-bed"></i
                    ></a>
                    <h3 class="option__title">Bed</h3>
                </div>
            </div>
        </div>
        <img
            src="https://64.media.tumblr.com/e5c47b6a54a61b9e1e2f15542e325010/344206119ee327aa-60/s640x960/ced0d61d81a4be4d9a0e86fd59eb17dd0a72aa4f.gifv"
            alt="background"
            id="background"
            usemap="#image-map"
        />

        <map name="image-map" style="outline-style: none">
            <area
                alt="window"
                title="window"
                href="/portal/window"
                coords="425,192,205,126,205,2,431,5"
                shape="poly"
            />
            <area
                alt="computer"
                title="computer"
                href="/portal/computer"
                coords="18,176,63,158,64,192,15,223"
                shape="poly"
            />
            <area
                alt="phone"
                title="phone"
                href="/portal/phone"
                coords="570,337,589,345"
                shape="rect"
            />
            <area
                alt="fan"
                title="fan"
                href="/portal/fan"
                coords="474,1,583,79"
                shape="rect"
            />
            <area
                alt="music"
                title="music"
                href="/portal/music"
                coords="197,117,181,136,171,187,166,225,180,237,199,230"
                shape="poly"
            />
            <area
                alt="books"
                title="books"
                href="/portal/books"
                coords="49,311,66,312,86,315,75,326,57,324,36,322"
                shape="poly"
            />
            <area
                alt="animals"
                title="animals"
                href="/portal/animals"
                coords="188,321,181,341,155,349,180,355,217,333"
                shape="poly"
            />
            <area
                alt="drawing"
                title="drawing"
                href="/portal/drawing"
                coords="38,58,64,101"
                shape="rect"
            />
            <area
                alt="food"
                title="food"
                href="/portal/food"
                coords="338,225,320,233,326,252,342,255,350,235"
                shape="poly"
            />
            <area
                alt="plants"
                title="plants"
                href="/portal/plants"
                coords="250,144,212,180,214,226,260,233,279,177"
                shape="poly"
            />
            <area
                alt="tea"
                title="tea"
                href="/portal/tea"
                coords="274,255,278,275,295,274,299,251,298,223,278,217"
                shape="poly"
            />
            <area
                alt="bed"
                title="bed"
                href="/portal/bed"
                coords="491,201,456,277,440,355,638,306,638,186"
                shape="poly"
            />
        </map>
    </body>
    <script src="/js/script.js"></script>
    <script src="/js/toggle.js"></script>
    <script
        src="https://kit.fontawesome.com/3cf526719d.js"
        crossorigin="anonymous"
    ></script>
</html>
