<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/style.css" />
        <title>Landing</title>
    </head>
    <body>
        <header id="landing-header">
            <div id="landing-header__title__container">
                <h1 id="landing-header__title">Quarantips</h1>
                <a href="/portal" id="landing-header__button">Launch</a>
            </div>
            <p id="landing-header__tiny">Get Started</p>
            <div id="down-arrow-wrapper">
                <img
                    class="down-arrow"
                    src="https://www.freeiconspng.com/thumbs/white-arrow-png/white-down-arrow-png-2.png"
                    alt="Down Arrow"
                />
            </div>
        </header>
        <main id="landing-body">
            <div class="info-container">
                <article class="info-container__row">
                    <div class="info-container__column">
                        <img
                            class="info-container__column__img"
                            alt=""
                            src="images/landingHands.jpeg"
                        />
                    </div>
                    <div class="info-container__column">
                        <h3 class="info-container__column__title">
                            Step #1: How to use the Quarantips Portal
                        </h3>
                        <hr class="home-grid-container__column__bottomLine" />
                        <p class="info-container__column__text">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Dolores eos doloribus cupiditate autem rerum!
                            Eligendi illum obcaecati perferendis cumque eaque
                            commodi, doloribus animi non asperiores nostrum,
                            necessitatibus aliquam explicabo possimus!
                        </p>
                        <p class="info-container__column__text">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Dolores eos doloribus cupiditate autem rerum!
                            Eligendi illum obcaecati perferendis cumque eaque
                            commodi, doloribus animi non asperiores nostrum,
                            necessitatibus aliquam explicabo possimus! Lorem
                            ipsum dolor sit amet consectetur adipisicing elit.
                            Dolores eos doloribus cupiditate autem rerum!
                            Eligendi illum obcaecati perferendis cumque eaque
                            commodi, doloribus animi non asperiores nostrum,
                            necessitatibus aliquam explicabo possimus!
                        </p>
                    </div>
                </article>
                <article class="info-container__row reversedRow">
                    <div class="info-container__column">
                        <h3 class="info-container__column__title">
                            Step #2: How to navigate the Quarantips Portal
                        </h3>
                        <hr class="home-grid-container__column__bottomLine" />
                        <p class="info-container__column__text">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Dolores eos doloribus cupiditate autem rerum!
                            Eligendi illum obcaecati perferendis cumque eaque
                            commodi, doloribus animi non asperiores nostrum,
                            necessitatibus aliquam explicabo possimus!
                        </p>
                        <p class="info-container__column__text">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Dolores eos doloribus cupiditate autem rerum!
                            Eligendi illum obcaecati perferendis cumque eaque
                            commodi, doloribus animi non asperiores nostrum,
                            necessitatibus aliquam explicabo possimus! Lorem
                            ipsum dolor sit amet consectetur adipisicing elit.
                            Dolores eos doloribus cupiditate autem rerum!
                            Eligendi illum obcaecati perferendis cumque eaque
                            commodi, doloribus animi non asperiores nostrum,
                            necessitatibus aliquam explicabo possimus!
                        </p>
                    </div>
                    <div class="info-container__column">
                        <img
                            class="info-container__column__img"
                            alt=""
                            src="/images/toggleHelp.png"
                        />
                    </div>
                </article>
                <article class="info-container__row">
                    <div class="info-container__column">
                        <img
                            class="info-container__column__img"
                            alt=""
                            src="images/landingMail.png"
                        />
                    </div>
                    <div class="info-container__column">
                        <h3 class="info-container__column__title">
                            Step #3: How to get the most out of the Quarantips
                            Portal
                        </h3>
                        <hr class="home-grid-container__column__bottomLine" />
                        <p class="info-container__column__text">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Dolores eos doloribus cupiditate autem rerum!
                            Eligendi illum obcaecati perferendis cumque eaque
                            commodi, doloribus animi non asperiores nostrum,
                            necessitatibus aliquam explicabo possimus!
                        </p>
                        <p class="info-container__column__text">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Dolores eos doloribus cupiditate autem rerum!
                            Eligendi illum obcaecati perferendis cumque eaque
                            commodi, doloribus animi non asperiores nostrum,
                            necessitatibus aliquam explicabo possimus! Lorem
                            ipsum dolor sit amet consectetur adipisicing elit.
                            Dolores eos doloribus cupiditate autem rerum!
                            Eligendi illum obcaecati perferendis cumque eaque
                            commodi, doloribus animi non asperiores nostrum,
                            necessitatibus aliquam explicabo possimus!
                        </p>
                    </div>
                </article>
            </div>
        </main>
    </body>
</html>
