<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/style.css" />
        <title>Quarantips</title>
    </head>
    <body>
        <header id="landing-header">
            <div id="landing-header__title__container">
                <h1 id="landing-header__title">Quarantips</h1>
                <!-- <a href="/portal" id="landing-header__button">Launch</a> -->
            </div>
            <p id="landing-header__tiny">Scroll To Get Started</p>
            <div id="down-arrow-wrapper">
                <img
                    class="down-arrow"
                    src="https://www.freeiconspng.com/thumbs/white-arrow-png/white-down-arrow-png-2.png"
                    alt="Down Arrow"
                />
            </div>
        </header>
        <main id="landing-body">
            <div class="info-container">
                <article class="info-container__row">
                    <div class="info-container__column">
                        <img
                            class="info-container__column__img"
                            alt=""
                            src="images/landingHands.jpeg"
                        />
                    </div>
                    <div class="info-container__column">
                        <h3 class="info-container__column__title">
                            Step #1: How to use the Quarantips Portal
                        </h3>
                        <hr class="home-grid-container__column__bottomLine" />
                        <p class="info-container__column__text">
                            The Quarantips Web Application was created to
                            educate individuals who are working from home on the
                            best practices they can utilize to make working from
                            home, work for them! Within the Quarantips Portal,
                            you can select different items around the room then
                            you will be presented with many wonderful Tips on
                            how to improve your Work From Home Mental Health.
                        </p>
                    </div>
                </article>
                <article class="info-container__row reversedRow">
                    <div class="info-container__column">
                        <h3 class="info-container__column__title">
                            Step #2: How to navigate the Quarantips Portal
                        </h3>
                        <hr class="home-grid-container__column__bottomLine" />
                        <p class="info-container__column__text">
                            If you ever find yourself confused on which items
                            you can select, the Quarantips Portal also
                            incorporates a helpful toggle menu option to guide
                            you back on track! From there, you will have the
                            option to select items directly from the toggled
                            view or dismiss the toggle view and interact with
                            the live view once more!
                        </p>
                    </div>
                    <div class="info-container__column">
                        <img
                            class="info-container__column__img"
                            alt=""
                            src="/images/toggleHelp.png"
                        />
                    </div>
                </article>
                <article class="info-container__row">
                    <div class="info-container__column">
                        <img
                            class="info-container__column__img"
                            alt=""
                            src="images/landingMail.png"
                        />
                    </div>
                    <div class="info-container__column">
                        <h3 class="info-container__column__title">
                            Step #3: How to get the most out of the Quarantips
                            Portal
                        </h3>
                        <hr class="home-grid-container__column__bottomLine" />
                        <p class="info-container__column__text">
                            We understand that given you are working from home,
                            you may have limited time available to read through
                            all the helpful tips within the Quarantips Portal.
                            So after selecting the desired object you would like
                            to learn more about. You will then have the ability
                            to enter your email address and receive all the
                            helpful tips to be viewed at your earliest
                            convenience!
                        </p>
                    </div>
                </article>
            </div>
        </main>
        <footer class="footer-container">
            <div class="footer-container__column">
                <div class="footer-container__row__social">
                    <a
                        href="https://www.youtube.com/"
                        class="footer-social__icon__link"
                        ><i class="footer-social__icon fab fa-youtube"></i
                    ></a>
                    <a
                        href="https://www.instagram.com/"
                        class="footer-social__icon__link"
                        ><i class="footer-social__icon fab fa-instagram"></i
                    ></a>
                    <a
                        href="https://twitter.com/home"
                        class="footer-social__icon__link"
                        ><i class="footer-social__icon fab fa-twitter"></i
                    ></a>
                </div>
                <div class="footer-container__row">
                    <a
                        class="footer-link"
                        href="https://www.mentalhealth.gov/basics/what-is-mental-health"
                        >Info</a
                    >
                    <a
                        class="footer-link"
                        href="https://github.com/joshuaeup/HOPE-Hackathon/blob/main/README.md"
                        >About</a
                    >
                    <a
                        class="footer-link"
                        href="https://www.forbes.com/sites/chriswestfall/2020/10/08/mental-health-leadership-survey-reveals-80-of-remote-workers-would-quit-their-jobs-for-this/?sh=7970fc203a0f"
                        >Stats</a
                    >
                </div>
                <div class="footer-container__row__dual">
                    <a
                        class="footer-link"
                        href="https://github.com/joshuaeup/HOPE-Hackathon"
                        >Repository</a
                    >
                    <a
                        class="footer-link"
                        href="https://www.mentalhealthexcellence.org/donate/?from=11205&gclid=Cj0KCQiA5vb-BRCRARIsAJBKc6IOeG2Kr7Sl1lb28QFc4mZfp8gpAZuW5wbN69DqIx7k-vfxdQ-VxlQaAn5JEALw_wcB"
                        >Support</a
                    >
                </div>
                <div class="footer-container__row__copyright">
                    <p class="footer-link__copyright">&copy; 2020 Quarantips</p>
                </div>
            </div>
            <div class="footer-container__column">
                <div class="footer-container__row__launch">
                    <h1>Ready to begin?</h1>
                </div>
                <div class="footer-container__row__launch">
                    <a href="/portal" id="landing-footer__button">Launch</a>
                </div>
            </div>
        </footer>
        <script
            src="https://kit.fontawesome.com/3cf526719d.js"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
