<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <h1>The current Temperature is <%= weather %></h1>

        <img src="<%= gif %>" alt="gif" />

        <% for(let i = 0; i < data.length; i++) { %>
        <h1><%= data[i].title %></h1>
        <h4><%= data[i].info %></h4>
        <% } %>
    </body>
</html>
